interactions:
- request:
    body: !!python/unicode '{"name": "Test"}'
    headers:
      content-type: [application/json]
    method: POST
    uri: https://api.chartmogul.com/v1/data_sources
  response:
    body: {string: !!python/unicode '{"uuid":"ds_20b98cde-565d-11e7-953a-57e7aa662af2","name":"Test","system":"Import
        API","created_at":"2017-06-21T08:39:23.884Z","status":"idle"}'}
    headers:
      content-type: [application/json]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"city": "New York", "name": "Adam Smith", "country":
      "US", "data_source_uuid": "ds_20b98cde-565d-11e7-953a-57e7aa662af2", "external_id":
      "cus_0001", "email": "adam@smith.com"}'
    headers:
      content-type: [application/json]
    method: POST
    uri: https://api.chartmogul.com/v1/customers
  response:
    body: {string: !!python/unicode '{"id":9232806,"uuid":"cus_20fdab30-565d-11e7-953a-c3eecbf6873c","external_id":"cus_0001","name":"Adam
        Smith","email":"adam@smith.com","status":"Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_20b98cde-565d-11e7-953a-57e7aa662af2","data_source_uuids":["ds_20b98cde-565d-11e7-953a-57e7aa662af2"],"external_ids":["cus_0001"],"company":"","country":"US","state":null,"city":"New
        York","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":"United
        States","state":null,"city":"New York","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#customers/9232806-Adam_Smith","billing-system-type":"Import
        API","currency":"USD","currency-sign":"$"}'}
    headers:
      content-type: [application/json]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"interval_unit": "month", "external_id": "plan_0001",
      "name": "Bronze Plan", "data_source_uuid": "ds_20b98cde-565d-11e7-953a-57e7aa662af2",
      "interval_count": 1}'
    headers:
      content-type: [application/json]
    method: POST
    uri: https://api.chartmogul.com/v1/plans
  response:
    body: {string: !!python/unicode '{"external_id":"plan_0001","name":"Bronze Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_20b98cde-565d-11e7-953a-57e7aa662af2","uuid":"pl_21436c24-565d-11e7-99b5-c30bc3e995a3"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"7f595dd6f5144f7845844809661d0df5"]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"invoices": [{"line_items": [{"tax_amount_in_cents":
      900, "service_period_end": "2015-12-01T00:00:00", "amount_in_cents": 5000, "service_period_start":
      "2015-11-01T00:00:00", "plan_uuid": "pl_21436c24-565d-11e7-99b5-c30bc3e995a3",
      "discount_amount_in_cents": 1000, "type": "subscription", "subscription_external_id":
      "sub_0001", "discount_code": "PSO86", "quantity": 1}], "due_date": "2015-11-15T00:00:00",
      "transactions": [{"date": "2015-11-05T00:14:23", "type": "payment", "result":
      "successful"}], "currency": "USD", "date": "2015-11-01T00:00:00", "external_id":
      "INV0001"}]}'
    headers:
      content-type: [application/json]
    method: POST
    uri: https://api.chartmogul.com/v1/import/customers/cus_20fdab30-565d-11e7-953a-c3eecbf6873c/invoices
  response:
    body: {string: !!python/unicode '{"invoices":[{"uuid":"inv_fb369587-7ed5-4049-9f02-8f6a8000499c","external_id":"INV0001","date":"2015-11-01T00:00:00.000Z","due_date":"2015-11-15T00:00:00.000Z","currency":"USD","line_items":[{"uuid":"li_1421544c-04bc-49f8-819c-8d37fe0bea9f","external_id":null,"type":"subscription","subscription_uuid":"sub_81a2a3b2-94f1-4858-94ea-852d9487acad","subscription_external_id":"sub_0001","plan_uuid":"pl_21436c24-565d-11e7-99b5-c30bc3e995a3","prorated":false,"service_period_start":"2015-11-01T00:00:00.000Z","service_period_end":"2015-12-01T00:00:00.000Z","amount_in_cents":5000,"quantity":1,"discount_code":"PSO86","discount_amount_in_cents":1000,"tax_amount_in_cents":900,"account_code":""}],"transactions":[{"uuid":"tr_a3d85ea1-7ae0-4a72-af28-3457993b3b4e","external_id":null,"type":"payment","date":"2015-11-05T00:14:23.000Z","result":"successful"}]}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"22a408937b44a26f3ebe7e04fea0fe40"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      content-type: [application/json]
    method: DELETE
    uri: https://api.chartmogul.com/v1/invoices/inv_fb369587-7ed5-4049-9f02-8f6a8000499c
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
version: 1
